.navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.navigation button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-top: 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navigation button:hover {
  background-color: #0056b3;
}

.dayTabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 10px;
}

.dayTabs button {
  background-color: #e9ecef;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dayTabs .activeTab {
  background-color: #007bff;
  color: white;
}

.dayTabs button:hover {
  background-color: #d6d8db;
}

.sessions {
  margin-top: 20px;
}
