/* Stepper.module.css */

.stepper {
  margin: 30px 0;
}

.stepperContainer {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  max-width: var(--desktop-container-width);
  margin: 0 auto;
}

.heading {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.stepContent {
  margin-bottom: 20px;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navButton {
  background-color: #008cba;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.navButton:hover {
  background-color: #007bb5;
}
