.navbar {
  width: 100%;
}

.nav_container {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--desktop-container-width);
  margin: 0 auto;
  padding: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.logo_wrapper {
  display: flex;
  align-items: center;
}

.logo {
  height: 30px;
  width: auto;
}

.menu_icon {
  display: block;
  cursor: pointer;
}

.menu {
  display: none;
  flex-direction: column;
  background-color: #333;
  position: absolute;
  top: 60px;
  right: 10px;
  width: 200px;
  border: 1px solid #fff;
}

.menu_open {
  display: flex;
}

.menu_item {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-bottom: 1px solid #fff;
}

.menu_item:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 10px;
  }

  .logo {
    height: 25px;
  }
}
