.timetable {
  margin: 30px 0;
}

.container {
  max-width: var(--desktop-container-width);
  margin: 0 auto;
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: #f9f9f9;
}

.heading {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.info p {
  width: 45%;
  margin: 10px 0;
}

.sessions {
  margin-top: 20px;
}

.session {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .info p {
    width: 100%;
  }
}
