.timetableName {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px 24px;
  background-color: bisque;
  border-radius: 5px;
}

.box {
  margin: 0 3px;
  border-radius: 3px;
}
