@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  /* colors */

  /* background colors */
  --primary-color: #333333;
  --secondary-color: #555555;
  --background-color: #fdfbfb;
  --accent-color: #ff4d00;

  /* text colors */
  --primary-text-color: #222222;
  --secondary-text-color: #ffffff;
  --light-text-color: #555555;
  --link-color: #4366a5;

  --hover-opacity: rgba(231, 231, 231, 0.5);

  /* border colors */
  --border-color: #ababab;

  /* typo */
  --font-family: "Poppins", sans-serif;

  /* spacing */
  --desktop-container-width: 33.333333%;
  --mobile-container-width: 90%;
  --letter-spacing: 1.5px;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #cfcfcf;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 100vh;
    border: 0px solid black;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #e0cbcb;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
}